<% provide(:title, 'Home') %>
<% if signed_in? %>
<div class="row-fluid">
    <div class="span3">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </div>
    <div class="span3">
      <section>
        <%= render 'shared/article_form' %>
      </section>
    </div>
    <div class="span3">
      <h3> Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
    <div class="span3">
      <h3> Article Feed</h3>
      <%= render 'shared/afeed' %>
    </div>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1>Welcome Basecamp Management</h1>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>
<% end %> 