<% provide(:title, 'Article') %>
<div class="row-fluid">
    <div class="span3">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
    </div>
    <div class="span9">
      <h1><%= Article.read_attribute(object_id).title %></h1>
      <p><strong>Author: </strong> <%= Article.find(object_id).author %><br />
         <strong>Content: </strong> <%= Article.find(object_id).content %><br />
      </p>
</div>