<% provide(:title, @user.name) %>
<div class = "row-fluid">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
	</aside>
	<div class = "span4">
	  <% if @user.microposts.any? %>
	    <h3>Posts (<%= @user.microposts.count %>)</h3>
	    <ol class = "microposts">
	      <%= render @microposts %>
	    </ol>
	    <%= will_paginate @microposts %>
	  <% end %>
	</div>
	<div class = "span4">
	  <% if @user.articles.any? %>
	    <h3>Articles (<%= @user.articles.count %>)</h3>
	    <ol class = "articles">
	      <%= render @articles %>
	    </ol>
	    <%= will_paginate @articles %>
	  <% end %>
	</div>
</div>